*{
    border: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
body{
   background-color: white;
}

main {
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
    font-size: 18px;
    margin: 1% 5%;
}


.box {
    
    border-radius: .4em;
    border-width: .01em;
    border-style: solid;
    margin-left: .4em;
    padding: .0em .5em .1em .5em;
    margin-bottom: .5em;
    margin-top: .3em;
}

h1 {
    color: navy;
    margin: 0em;
    display: block;
}

h2 {
    color: navy;
    font-size: 1.2em;
    margin: 0em;
}

h3 {
    color: navy;
    font-size: 1em;
    margin: 0em;
}

ul {
    margin: 0em 0em .3em 0em;
    list-style-type: square;
    padding-left: 1.4em;
}

.header{
    width: 100%;
    height: 5rem;
    background-color: #000080;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.list {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    
}
.list >  ul {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    list-style-type: none;
    
}
.list >  ul > li {
   padding: 0px 10px 0px 10px;
}
.main-footer{
    width: 100%;
    height: 5rem;
    background-color: #000080;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.name{
    display: flex;
    flex-direction: column;    
    align-items: center;

}
.hero{
    height: 80vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 20px;
    align-items: center;
    background-image: linear-gradient(to right, #a90755 0%, #1f1144 100%);;
}

.title{
    font-size: 50px;
    color: white;
}
.image{
    max-width:500px ;
    height: 500px;
}
.blaise{
    height: 500px;
    width:600px ;
}


